<aside>
    <a  href="/" title="Github Home">
        <div class="avatar"></div>
    </a>
    <nav>
        <a class="profile" href="https://github.com/ecomfe/spec" target="_blank">FireWork</a>
    </nav>
    <ul class="product-overview">
        <li><a href="/"><span class="product-overview-desc">首页</span></a></li>
        <li><a href="https://github.com/ecomfe/esl"><span class="product-overview-desc">关于</span></a></li>
    </ul>
    <p class="efe-desc">主题样式取自百度<a href="http://efe.baidu.com"target="_blank" title="EFE"> EFE </a>技术博客<br><br>如有侵权，即刻删除</p>

    <%- partial('_partial/tags') %>
    <%- partial('_partial/links') %>
</aside>
